---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { css } from "../../styled-system/css";

type Icon = {
  normal: ImageMetadata;
  inverted: ImageMetadata;
};

interface Props {
  name: string;
  icon: Icon;
  id: string;
  link: string;
  color: string;
}

const { name, icon, id, link, color } = Astro.props;

const link_item = css({
  display: "grid",
  gridTemplateColumns: "10% 30% auto",
  gap: "6",
  fontSize: "3xl",
  alignItems: "center",
  border: "1px solid var(--color)",
  borderRadius: "3xl",
  padding: "8",
  bg: "bg",
  transition: "transform 0.3s {easings.easeOutExpo}",
  width: "100%",
  _hover: {
    bg: "var(--color)",
    transform: "scale(1.025)",
    color: "text.light",
  },
  sm: {
    fontSize: "4xl",
    gap: "8",
  },
  "&> img": {
    height: "4rem",
    width: "4rem",
    objectFit: "contain",
  },
});
---

<a href={link} class:list={[link_item, "group"]} style={{ "--color": color }}>
  <Image
    src={icon.normal}
    alt={name}
    class={css({ _groupHover: { display: "none" } })}
  />
  <Image
    src={icon.inverted}
    alt={name}
    class={css({ display: "none", _groupHover: { display: "unset" } })}
  />
  <p>{name}</p>
  <p>{id}</p>
</a>
