---
import { center } from "../../styled-system/patterns";
import { css } from "../../styled-system/css";

const { href } = Astro.props;

interface Props {
  href: string;
}

const button = center({
  fontFamily: "dots",
  fontSize: "2.1rem",
  color: "text.dark",
  bg: "bg.button",
  gap: "6",
  paddingLeft: "10",
  paddingRight: "6",
  paddingBlock: "3",
  borderRadius: "full",
  transition: "transform 0.3s {easings.easeOutExpo}",
  _hover: {
    color: "text.gray",
    "& img": {
      transform: "translateX(5px)",
    },
  },
  "& a": {
    display: "flex",
    alignItems: "center",
    gap: "5",
  },
});
const arrow = css({
  height: "0.8em",
  width: "auto",
  animation: "arrow",
  display: "inline-block",
  transition: "transform 0.3s {easings.easeOutExpo}",
});
---

<a href={href}>
  <div class={button}>
    <p>MORE</p>
    <img src="images/arrow.svg" class={arrow} />
  </div>
</a>
