---
import { container, vstack } from "../../../styled-system/patterns";
import BlogItem from "../BlogItem.astro";
import TopSection from "./TopSection.astro";

const date_sample = new Date();

const section = container({
  paddingInline: "px.container",
  paddingBlock: "py.section",
  maxWidth: "max.width.container",
});
---

<TopSection heading="BLOG" href="/blog" class={section}>
  <ul class={vstack({ gap: "10", "& li": { width: "100%" } })}>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
    <li>
      <BlogItem date={date_sample}>Webサイトをリニューアルしました</BlogItem>
    </li>
  </ul>
</TopSection>
