---
import { Image } from "astro:assets";
import icon from "../../assets/icon.png";
import { DESCRIPTION } from "../../consts";

import { css } from "../../../styled-system/css";
import {
  container,
  circle,
  vstack,
  bg_extend,
} from "../../../styled-system/patterns";
import MoreButton from "../MoreButton.astro";
const cont = container({
  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  paddingInline: "px.container",
  paddingBottom: "44",
  gap: "20",
});

const about = vstack({
  maxWidth: "51rem",
  borderRadius: "3xl",
  p: "10",
  gap: "8",
  bg: "bg",
  border: "normal",
  opacity: "0",
  _loaded: {
    animation: "slide_in",
  },
});

const image_wrapper = circle({
  size: "xs",
  bg: "bg",
  border: "normal",
  opacity: "0",
  _loaded: {
    animation: "slide_in",
  },
});

const icon_img = circle({
  size: "80%",
  boxShadow: "normal",
  textAlign: "center",
});

const name = bg_extend({
  fontFamily: "metro",
  fontSize: "7xl",
  color: "text.light",
  lineHeight: "0.8",
});
---

<div class={cont}>
  <div class={vstack({ gap: "20" })}>
    <div class={image_wrapper}>
      <Image src={icon} alt="にとのアイコン" class={icon_img} />
    </div>
    <p class={name}>
      <span> NITO </span>
    </p>
  </div>
  <div class={about}>
    <p class={css({ fontSize: "4xl" })}>
      {DESCRIPTION}
    </p>
    <MoreButton href="/about" />
  </div>
</div>
